<!--   <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"><%= tweet.title %></span>
            <p>by <%= tweet.user.name %></p>
          </div>
          <div class="card-action">
            <% if user_signed_in? && tweet.user_id = current_user.id %>
            <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
            <% else %>
            <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
 -->
<div class="row">
  <div class="col s3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
      <% if tweet.image? %>
        <%= image_tag tweet.image.url %>
      <% end %>
        <!-- <img class="activator" src="images/office.jpg"> -->
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%= tweet.title %></span>
        <p>by <%= tweet.user.name %></p>
        <!-- <p><a href="#">This is a link</a></p> -->
        <div class="card-action">
          <% if user_signed_in? && tweet.user_id = current_user.id %>
            <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
            <% else %>
            <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
          <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
